@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500;1,600&display=swap');

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin: 0 auto;
    font-style: italic;
    background-image: url('../img/bgFon.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headStyle {
    font-size: 2.8rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 8.2rem;
    text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.dopSt {
    margin-top: -15rem;
}

.colorBlack {
    color: black;
}

.colorWhite {
    color: white;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p,
div,
a {
    box-sizing: border-box;
}

header {
    position: fixed;
    z-index: 20;
    width: 100%;
    background-color: #FFF;
    padding: 0.5rem;
    box-sizing: border-box;
}

.wrraperHeader {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.linksWrraper {
    width: 100%;
}

.linksWrraper ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 95%;
}

.linksWrraper ul li a {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: normal;
    color: black;
    padding: 1rem;
    text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.header-panel {
    display: none;
    padding: 10px 20px;
}

.menu {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    border-radius: 10px;
}

.panel-button {
    background-color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 2rem;
}

.dropdown-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    background-color: #ffffffa6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-left: -6.8rem;
    margin-top: 2rem;
    z-index: 3;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.dropdown-list li {
    padding: 1rem 2rem;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    z-index: 3;
}

.dropdown-list li a {
    color: black;
    font-size: 1.4rem;
    text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.show {
    display: block;
}

.logo img{
    width: 110px;
}

@media (max-width: 1100px) {
    .linksWrraper ul li a {
        font-size: 1.8rem;
    }
}

@media (max-width: 920px) {
    .header-panel {
        display: block;
    }

    .linksWrraper {
        display: none;
    }

    .wrraperHeader {
        justify-content: space-between;
    }
}

@media (max-width: 430px) {
    .wrraperHeader {
        flex-direction: column;
    }

    .dropdown-list {
        margin-left: 0rem;
        padding: 0rem 4rem;
    }

    .panel-button {
        padding: 0.4rem 9.5rem;
    }

    .logo {
        max-width: 10rem;
    }

    .logo img {
        width: 100%;
    }

    header {
        padding: 0.5rem;
    }

}

section {
    width: 100%;
    padding-top: 7.6rem;
}

.aboutUsSection {
    background: linear-gradient(180deg, #FFF 0%, #878787 100%);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 22.2rem 5rem;
    box-sizing: border-box;
}

.wrraperFirtsBlock {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainBlockSlider {
    position: relative;
    max-width: 40rem;
    width: 100%;
    height: 41rem;
    overflow: hidden;
    border-radius: 12.2rem;
}

.trrackBlock {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 500ms all;
    border-radius: 12.2rem;
}

.trrackImgSt {
    width: 100%;
    box-sizing: border-box;
}

.trrackImgSt img {
    width: 100%;
    transition: 500ms all;
    border-radius: 12.2rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.blockMainText {
    max-width: 67.6rem;
    width: 100%;
    border-radius: 1.5rem;
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    padding: 3.1rem 4rem;
    margin-left: 13.4rem;
}

.blockMainText p {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.5rem;
    color: white;
    border-radius: 1.5rem;
    background: #A56B6B;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 2.1rem 4.6rem;
}

@media (max-width: 1200px) {
    .wrraperFirtsBlock {
        flex-direction: column;
    }

    .blockMainText {
        margin-top: 6rem;
        margin-left: 0;
    }

    .aboutUsSection {
        padding: 6rem 2rem;
    }

    .dopSt {
        margin-top: 2rem;
    }

}

@media (max-width: 1100px) {
    .blockMainText p {
        font-size: 1.4rem;
    }

    .headStyle {
        font-size: 2.4rem;
    }
}

@media (max-width: 920px) {
    .blockMainText {
        padding: 1.5rem 2rem;
    }
}

@media (max-width: 430px) {

    .headStyle {
        font-size: 2rem;
    }

    .blockMainText p {
        font-size: 1.2rem;
        padding: 1.5rem 3rem;
    }

    .dopSt {
        margin-top: 5rem;
    }
}

.whyUsSection {
    padding: 6rem 5rem;
    box-sizing: border-box;
}

.blockWhyUsBlockText {
    max-width: 112.9rem;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px 30px;
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    padding: 3.1rem 4rem;
}

.blockWhyUsBlockText p {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.5rem;
    color: white;
    border-radius: 5px 30px;
    background: #A56B6B;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 2.1rem 4.6rem;
}

@media (max-width: 1200px) {
    .whyUsSection {
        padding: 6rem 2rem;
    }
}

@media (max-width: 1100px) {
    .blockWhyUsBlockText p {
        font-size: 1.4rem;
    }
}

@media (max-width: 920px) {
    .blockWhyUsBlockText {
        padding: 1.5rem 2rem;
    }
}

@media (max-width: 430px) {
    .blockWhyUsBlockText p {
        font-size: 1.2rem;
        padding: 1.5rem 3rem;
    }

    section {
        padding-top: 13.6rem;
    }
}

.reviewsSection {
    background: linear-gradient(180deg, #FFF 0%, #878787 100%);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 6rem 5rem;
    box-sizing: border-box;
}

.mainReviewsBlock {
    position: relative;
    max-width: 100.0rem;
    height: 50rem;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px 30px;
    background: #A56B6B;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 2.4rem 2rem;
    overflow: hidden;
}

.blockComment {
    position: relative;
    padding: 1.5rem 3rem;
    border-radius: 5px 30px;
    background: linear-gradient(72deg, #D9D9D9 0.54%, #FFF 99.41%);
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.25);
    max-width: 70rem;
    width: 100%;
    margin: 0 auto;
    left: 0;
    margin-top: 5rem;
}

.blockComment:nth-child(2) {
    left: 50%;
    transform: translateX(-50%);
}

.blockComment:nth-child(3) {
    left: 100%;
    transform: translateX(-100%);
}

.blockComment p {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
}

.blockComment span {
    color: #A56B6B;
}

.headTrrack {
    font-size: 2rem;
}

.imgComment {
    max-width: 15rem;
    margin: 0 auto;
}

.imgComment img {
    width: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-pagination,
.swiper-scrollbar {
    display: none;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next,
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    color: white !important;
    font-weight: 900 !important;
}

.warningBlock {
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    color: white;
    display: none;
    background-color: #A56B6B;
    padding: 1rem;
    border-radius: 2rem;
}

@media (max-width: 1100px) {
    .blockComment p {
        font-size: 1.4rem;
    }

    .headTrrack {
        font-size: 1.6rem;
    }

    .imgComment {
        width: 80%;
    }

    .mainReviewsBlock {
        height: 45rem;
    }

    .blockComment {
        max-width: 56rem;
    }
}


@media (max-width: 850px) {
    :root {
        --swiper-navigation-size: 2.5rem !important;
    }

    .blockComment {
        max-width: 45rem;
    }
}

@media (max-width: 920px) {
    .reviewsSection {
        padding: 6rem 2rem;
    }
}


@media (max-width: 690px) {
    :root {
        --swiper-navigation-size: 2.5rem !important;
    }

    .blockComment {
        max-width: 29rem;
        margin-top: 1rem;
    }
}

@media (max-width: 550px) {

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev,
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        display: none !important;
    }

    .warningBlock {
        display: block;
    }
}

@media (max-width: 430px) {
    .blockComment p {
        font-size: 1.2rem;
    }

    .headTrrack {
        font-size: 1.4rem;
    }

    .blockComment {
        max-width: 20rem;
    }

    .imgComment {
        width: 65%;
    }

    .mainReviewsBlock {
        height: 42rem;
        padding: 2.4rem 0rem;
    }
}

.featuresSection {
    padding: 7.2rem 5rem;
    box-sizing: border-box;
}

.firtsBlockFeatures,
.secondBlockFeatures {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.blocksSpecificsMain {
    max-width: 35rem;
    padding: 2rem 1rem;
    border-radius: 15px;
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    margin-bottom: 2rem;
}

.blocksSpecifics {
    width: 100%;
    border-radius: 10px;
    background: #A56B6B;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.25);
}

.blockImgSpecifics {
    max-width: 33rem;
    margin: 0 auto;
}

.blockImgSpecifics img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.blocksSpecifics p {
    text-align: center;
}

.mainTextSpecifics {
    font-size: 1.4rem;
    padding: 2rem;
    font-weight: 500;
}

.headSpecifics {
    font-size: 1.8rem;
    padding: 0rem 1rem;
    font-weight: 600;
}

.mainTextSpecifics,
.headSpecifics {
    color: white;
}

@media (max-width: 920px) {
    .featuresSection {
        padding: 7.2rem 2rem;
    }
}

@media (max-width: 430px) {
    .mainTextSpecifics {
        font-size: 1.2rem;
    }

    .headSpecifics {
        font-size: 1.6rem;
    }

}

.contactSection {
    background: linear-gradient(180deg, #FFF 0%, #878787 100%);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 6rem 5rem;
    box-sizing: border-box;
}

.blockWithContacts {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 10rem;
}

.contactsSt {
    max-width: 42.6rem;
    width: 100%;
    padding: 1rem;
}

.contactsSt p {
    text-align: center;
    font-size: 2rem;
    color: white;
    padding: .9rem 2rem;
    border-radius: 10px;
    background: #A56B6B;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.contactsSt a {
    color: white;
}

.firstTelegram,
.firstInst {
    position: relative;
}

.firstTelegram a::before {
    content: '';
    background-image: url('../img/ic_twotone-telegram.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 50%;
    transform: translateY(-50%);
    left: 30%;
}

.firstInst a::before {
    content: '';
    background-image: url('../img/ri_instagram-line.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 50%;
    transform: translateY(-50%);
    left: 30%;
}

@media (max-width: 1100px) {
    .contactsSt p {
        font-size: 1.6rem;
    }
}

@media (max-width: 920px) {
    .contactSection {
        padding: 6rem 2rem;
    }
}

@media (max-width: 500px) {
    .contactsSt p {
        font-size: 1.4rem;
    }

    .firstTelegram a::before,
    .firstInst a::before {
        left: 25%;
    }
}

@media (max-width: 340px) {

    .firstTelegram a::before,
    .firstInst a::before {
        left: 15%;
    }
}

footer {
    width: 100%;
    background-color: #FFF;
    padding: 0.5rem;
    box-sizing: border-box;
}

.wrraperHeader p {
    font-size: 2.8rem;
    font-weight: 500;
    line-height: normal;
    color: black;
    padding: 1rem;
    text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

#modal_window {
    cursor: pointer;
}

#myPolicy {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 30;
    background: rgba(217, 217, 217, 0.71);
    padding: 4rem 2rem;
    box-sizing: border-box;
    border: none;
    opacity: 0;
    transition: 500ms all;
}

.mainBlockPolicy {
    position: relative;
    max-width: 120rem;
    width: 100%;
    height: 55rem;
    background: white;
    overflow-x: hidden;
    text-align: left;
    margin: 0 auto;
    border-radius: 4rem;
    padding: 2rem 12.5rem;
    box-sizing: border-box;
}

.closePolicy {
    position: absolute;
    max-width: 5rem;
    right: 0;
    right: 10px;
    cursor: pointer;
}

.closePolicy img {
    width: 100%;
}

.mainBlockPolicy h2 {
    text-align: center;
    margin-bottom: 5.8rem;
    font-size: 2.8rem;
}

.mainBlockPolicy p {
    font-size: 1.8rem;
}

.mainBlockPolicy span {
    font-size: 2.2rem;
    font-weight: 600;
}

@media (max-width: 1100px) {
    .mainBlockPolicy p {
        font-size: 1.4rem;
    }

    .mainBlockPolicy span {
        font-size: 1.8rem;
        font-weight: 600;
    }

    .mainBlockPolicy h2 {
        font-size: 2.2rem;
    }

    .wrraperHeader p {
        font-size: 2.2rem;
    }

    .closePolicy {
        max-width: 3rem;
    }
    
}

@media (max-width: 920px) {
    .mainBlockPolicy {
        padding: 2rem 5rem;
    }
}

@media (max-width: 700px) {
    footer .wrraperHeader{
        flex-direction: column;
    }
}

@media (max-width: 430px) {
    .wrraperHeader p {
        font-size: 1.6rem;
    }
}